[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[packages]
python-dateutil = { git = 'https://github.com/dateutil/dateutil.git' }
fake_useragent = '*'
lxml = '*'
python-dotenv = '*'
requests = '*'
pip = "*"

[dev-packages]
pytest = '*'
