[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.6'

[packages]
requests = '*'
lxml = '*'
dateutil = { git = 'https://github.com/dateutil/dateutil.git' }

[dev-packages]
pytest = '*'
